<%- include ../header %>
<h1>About Ann Arbor Coffee House Coders</h1>
<h3>Q: Who can come to Coffee House Coders?</h3>
<p>A: Everyone who can code or wants to code is welcome. We encourage collaboration among members, so if you are looking to get better at coding, we will help!</p>
<h3>Q: Where does the Ann Arbor Coffee House Coders meet?</h3>
<p>A: We meet in Space 2435 North Quad on the University of Michigan's Central Campus:</p>
<img src="http://maps.googleapis.com/maps/api/staticmap?center=42.280585,-83.740719&size=600x300&zoom=15&maptype=roadmap&markers=color:blue|42.280585,-83.740719&sensor=true" />
<h3>Q: Will you advertise my job opportunity / paid work to your group?</h3>
<p>A: The short answer is no. We try to maintain a coder-friendly environment and do not pass information about paid work to our members. Basically, if money is changing hands, it's probably not something we will share. If you have any questions about this policy, let us know!</p>
<%- include ../footer %>
