<% include ../header %>
<h2>Upcoming Events</h2>

<p><a href="https://www.google.com/calendar/ical/8btl97771grumtimfhhgg02ko0%40group.calendar.google.com/public/basic.ics">Calendar feed (ics)</a></p>

<p>
  <strong>Coffee House Coders</strong><br />
  Thursday, June 13th, 2013 &mdash; 7-10pm<br />
  <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar">Espresso Royale, 324 S. State St</a>
</p>

<p>
  <strong>Coffee House Coders</strong><br />
  Thursday, July 11th, 2013 &mdash; 7-10pm<br />
  <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar">Espresso Royale, 324 S. State St</a>
</p>

<p>
  <strong>Coffee House Coders</strong><br />
  Thursday, August 8th, 2013 &mdash; 7-10pm<br />
  <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar">Espresso Royale, 324 S. State St</a>
</p>

<p>Fall schedule TBA</p>

<% include ../footer %>

