<% include ../header %>
<h2>Upcoming Events</h2>

<p>Coffee House Coders is taking a break for the holidays! Check back in January for our 2014 schedule.</p>

<!--
<p><a href="https://www.google.com/calendar/ical/8btl97771grumtimfhhgg02ko0%40group.calendar.google.com/public/basic.ics">Calendar feed (ics)</a></p>

<p itemscope itemtype="http://schema.org/Event">
  <strong itemprop="name">Learn to build a portfolio! sponsored by Coffee House Coders</strong><br>
  Mid-December &mdash; date/time TBA<br>
  Location: University of Michigan's Central Campus (specific locaton TBA)
  We'll have mentors on hand to help you build your portfolio. Mentors will have experience with HTML, CSS, jQuery, Ruby, Python, PHP (WordPress, Drupal, etc.) and more!<br>
</p>
-->

<% include ../footer %>
