<% include ../header %>
<h2>Upcoming Events</h2>

<p><a href="https://www.google.com/calendar/ical/8btl97771grumtimfhhgg02ko0%40group.calendar.google.com/public/basic.ics">Calendar feed (ics)</a></p>

<p>
  <strong>Coffee House Coders</strong><br />
  Thursday, November 7th, 2013 &mdash; 7-10pm<br />
  Hosted by <a href="https://twitter.com/allspiritseve">Cory Kaufman-Schofield</a><br />
  <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar">Espresso Royale, 324 S. State St</a>
</p>

<p>
  <strong>Coffee House Coders</strong><br />
  Thursday, November 21st, 2013 &mdash; 7-10pm<br />
  <!-- Hosted by <a href="https://twitter.com/mulka">Kyle Mulka</a><br /> -->
  <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar">Espresso Royale, 324 S. State St</a>
</p>

<% include ../footer %>

