<% include ../header %>
<h2>Upcoming Events</h2>

<p><a href="https://www.google.com/calendar/ical/8btl97771grumtimfhhgg02ko0%40group.calendar.google.com/public/basic.ics">Calendar feed (ics)</a></p>

<p itemscope itemtype="http://schema.org/Event">
  <strong itemprop="name">Coffee House Coders</strong><br>
  <meta itemprop="startDate" content="2013-11-21T19:00">
  <meta itemprop="endDate" content="2013-11-21T22:00">
  <span>Thursday, November 21st, 2013 &mdash; 7-10pm<br>
  Hosted by <a href="https://twitter.com/mulka">Kyle Mulka</a><br>
  Location: <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar" itemprop="location" itemscope itemtype="http://schema.org/CafeOrCoffeeShop"><span itemprop="name">Espresso Royale</span>, <span itemprop="address">324 S. State St</span></a>
</p>

<p itemscope itemtype="http://schema.org/Event">
  <strong itemprop="name">Coffee House Coders</strong><br>
  <meta itemprop="startDate" content="2013-12-05T19:00">
  <meta itemprop="endDate" content="2013-12-05T22:00">
  Thursday, December 5th, 2013 &mdash; 7-10pm<br>
  Hosted by <a href="https://twitter.com/allspiritseve">Cory Kaufman-Schofield</a><br>
  Location: <a href="https://maps.google.com/maps?hl=en&q=Espresso+Royale,+324+S.+State+St.+Ann+Arbor,+Michigan+48104&source=calendar" itemprop="location" itemscope itemtype="http://schema.org/CafeOrCoffeeShop"><span itemprop="name">Espresso Royale</span>, <span itemprop="address">324 S. State St</span></a>
</p>

<p itemscope itemtype="http://schema.org/Event">
  <strong itemprop="name">Learn to build a portfolio! sponsored by Coffee House Coders</strong><br>
  Mid-December &mdash; date/time TBA<br>
  Location: University of Michigan's Central Campus (specific locaton TBA)
  We'll have mentors on hand to help you build your portfolio. Mentors will have experience with HTML, CSS, jQuery, Ruby, Python, PHP (WordPress, Drupal, etc.) and more!<br>
</p>

<p><strong>2014 Schedule TBA</strong></p>

<% include ../footer %>
