<% include ../header %>
<h2>Upcoming Events</h2>

<p><a href="https://www.google.com/calendar/ical/8btl97771grumtimfhhgg02ko0%40group.calendar.google.com/public/basic.ics" class="btn btn-primary">Click here to subscribe to our calendar feed (ics)</a></p>



<div itemscope itemtype="http://schema.org/Event">
  <h2 itemprop="name">April Meetup @ Workantile</h2>
  <p><strong><time itemprop="startDate" datetime="2014-04-24T19:00:00">Thursday, April 24th, 2014 - 7pm</time> to <time itemprop="endDate" datetime="2014-04-24T21:00:00">9pm</time></strong></p>
  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
    <a href="http://workantile.com/map/" itemprop="url"><span itemprop="name">Workantile</span></a><br>
    <span itemprop="address">118 S. Main St. Ann Arbor, MI 48104</span>
  </p>
  <div>
    <strong>Format:</strong><br>
    <ol>
      <li>Introductions</li>
      <li>Tech Talk
      <li>Discussion</li>
    </ol>
  </div>

  <div>
    <h3>Tech Talk: "Design for Developers: 6 Principles of Visual Design"<h3>
    <h4>Presenter: <a href="https://twitter.com/stunningandy">Andy Ross</a></h4>
    <p>Many developers feel their design skills are woefully inadequate, and they sometimes feel too intimidated to even voice their opinion, let alone have any input into the design process. So, tonight, I will enumerate and explain six basic design principles. These principles have been used for hundreds of years by painters, graphic designers, and web designers to inform and improve their visual designs. Once you learn these, you'll be able to evaluate and execute visual design with a much more informed and principled set of skills.</p>
  </div>
</div>

<div itemscope itemtype="http://schema.org/Event">
  <h2 itemprop="name">May Meetup @ Workantile</h2>
  <p>Mid May, exact date/time TBA</p>
  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
    <a href="http://workantile.com/map/" itemprop="url"><span itemprop="name">Workantile</span></a><br>
    <span itemprop="address">118 S. Main St. Ann Arbor, MI 48104</span>
  </p>
  <div>
    <strong>Format:</strong><br>
    <ol>
      <li>Introductions</li>
      <li>Tech Talk
      <li>Discussion</li>
    </ol>
  </div>

  <div>
    <h3>Tech Talk: (title TBA)<h3>
  </div>
</div>

<hr>

<h2>Past Events</h2>

<div itemscope itemtype="http://schema.org/Event">
  <h2 itemprop="name">March Meetup @ Workantile</h2>
  <p><strong><time itemprop="startDate" datetime="2014-03-20T19:00:00">Thursday, March 20th, 2014 - 7pm</time> to <time itemprop="endDate" datetime="2014-03-20T21:00:00">9pm</time></strong></p>
  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
    <a href="http://workantile.com/map/" itemprop="url"><span itemprop="name">Workantile</span></a><br>
    <span itemprop="address">118 S. Main St. Ann Arbor, MI 48104</span>
  </p>
  <div>
    <strong>Format:</strong><br>
    <ol>
      <li>Introductions</li>
      <li>Tech Talk
      <li>Discussion</li>
    </ol>
  </div>

  <div>
    <h3>Tech Talk: (title TBA)<h3>
    <h4>Presenter: <a href="https://twitter.com/Skottle">Scott Goci</a></h4>
  </div>
</div>

<div itemscope itemtype="http://schema.org/Event">
  <h2 itemprop="name">February Meetup @ Workantile</h2>
  <p><strong><time itemprop="startDate" datetime="2014-02-20T18:00:00">Thursday, February 20th, 2014 - 6pm</time> to <time itemprop="endDate" datetime="2014-02-20T20:00:00">8pm</time></strong></p>
  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
    <a href="http://workantile.com/map/" itemprop="url"><span itemprop="name">Workantile</span></a><br>
    <span itemprop="address">118 S. Main St. Ann Arbor, MI 48104</span>
  </p>
  <div>
    <strong>Format:</strong><br>
    <ol>
      <li>Introductions</li>
      <li>Tech Talk
      <li>Discussion</li>
    </ol>
  </div>

  <div>
    <h3>Tech Talk: "Death of the Pixel or How I Learned to Stop Worrying and Love All These Screen Resolutions"<h3>
    <h4>Presenter: <a href="https://twitter.com/PatrickMcSweeny">Patrick McSweeny</a></h4>
    <p>Just a few years ago, it was entirely realistic to develop web sites for a fixed width and use pixels for just about everything but now those days seem like a distant memory. With the ever growing number of screen sizes and resolutions of devices used to access the web, it is now more important than ever to write CSS that is flexible enough to adapt to different types of screens. Toledo developer Patrick McSweeny will discuss alternatives to using pixels as the primary unit of measurement as a way to make your web sites/applications ready to deal with any screen size without the need for complicated media queries.</p>
  </div>
</div>

<% include ../footer %>
