<% include ../header %>
<div class="event" itemscope itemtype="http://schema.org/Event">
  <h1>Welcome to <span itemprop="name">Ann Arbor Coffee House Coders</span></h1>
  <h4 itemprop="description">A2 Coffee House Coders is a biweekly meetup that takes place in Palmer Commons on the University of Michigan's campus.</h4>
  <p>We are a language-agnostic coding group; everyone is welcome, no matter your skill level.</p>
</div>

<hr />

<h4>Discussions, Q&A and Announcements</h4>
<p>Join our Google Group: <a href="https://groups.google.com/d/forum/coffeehousecoders">https://groups.google.com/d/forum/coffeehousecoders</a></p>
<p>Email us at <a href="mailto:coffeehousecoders@googlegroups.com">coffeehousecoders@googlegroups.com</a></p>

<hr>

<h4>Twitter</h4>
<p><a href="http://twitter.com/coffeehousecode">Follow us on Twitter</a></p>
<% include ../footer %>
