extends ../layout

block nav
  a.brand(href='/') Ann Arbor Coffee House Coders
  ul.nav.nav-pills
    li
      a(href='/') Home
    li
      a(href='/about') About CHC
    li
      a(href='/organizers') About the Organizers
    li
      a(href='/discussions') Discussions

  include ../locations-nav
