<a href="/" class="brand">Ann Arbor Coffee House Coders</a>
<ul class="nav nav-pills">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About CHC</a></li>
  <li><a href="/organizers">About the Organizers</a></li>
  <li><a href="/workshops">Workshops</a></li>
  <li><a href="/discussions">Discussions</a></li>
</ul>
