<% include ../header %>
<h1>About the Organizers</h1>

<div class="row" itemscope="itemscope" itemtype="http://schema.org/Person">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/cory-profile-140.png" height="140" width="140" /></div>
  <div class="span7">
    <h3 itemprop="name">Cory Kaufman-Schofield</h3>
    <p>Cory is a writer and internet consultant. He is furiously coding away on <a href="https://townstage.com/cities/ann-arbor">Townstage</a>, an event aggregator for live music in and around Ann Arbor.</p>
    <p>Website: <a href="http://corykaufman.com">corykaufman.com</a></p>
  </div>
  <div class="span3">
    <div class="social-callout">
      <p><a href="http://twitter.com/allspiritseve"><span class="twitter"></span>@allspiritseve</a></p>
      <p><a href="http://github.com/allspiritseve"><span class="octocat"></span>allspiritseve</a></p>
    </div>
  </div>
</div>

<br clear="both">

<div class="row" itemscope="itemscope" itemtype="http://schema.org/Person">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/mulka-profile-140.png" height="140" width="140" /></div>
  <div class="span7">
    <h3 itemprop="name">Kyle Mulka</h3>
    <p>Kyle is a software developer and entrepreneur. He is the founder of <a href="http://www.congolabs.com">Congo Labs</a> which develops simple social media tools like <a href="http://twilk.com">twilk</a> and <a href="http://twilk.com">tchat.io</a>
    <p>Website: <a href="http://www.kylemulka.com/">www.kylemulka.com</a></p>
  </div>
  <div class="span3">
    <div class="social-callout">
      <p><a href="http://twitter.com/mulka"><span class="twitter"></span>@mulka</a></p>
      <p><a href="http://github.com/mulka"><span class="octocat"></span>mulka</a></p>
    </div>
  </div>
</div.

<br clear="both">

<% include ../footer %>
