<% include ../header %>
<h1>About the Organizers</h1>

<div class="row" itemscope="itemscope" itemtype="http://schema.org/Person">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/cory-profile-140.png" height="140" width="140" /></div>
  <div class="span7">
    <h3 itemprop="name">Cory Kaufman-Schofield</h3>
    <p>Cory is a writer and developer.</p>
    <p><a href="http://corykaufman.com">corykaufman.com</a></p>
  </div>
  <div class="span3">
    <div class="social-callout">
      <p><a href="http://twitter.com/allspiritseve"><span class="twitter"></span>@allspiritseve</a></p>
      <p><a href="http://github.com/allspiritseve"><span class="octocat"></span>allspiritseve</a></p>
    </div>
  </div>
</div>

<br clear="both">

<div class="row" itemscope itemtype="http://schema.org/Person">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/cait-profile-140.png" height="140" width="140"></div>
  <div class="span7">
    <h3 itemprop="name">Cait Holman</h3>
    <p>Cait is a PhD student at the University of Michigan School of Information, and the project manager at
      <span itemprop="affiliation" itemscope itemtype="http://schema.org/LocalBusiness">
        <a href="http://www.alfajango.com" itemprop="url"><span itemprop="name">AlfaJango</span></a>.
      </span>
    </p>
    <p><a href="http://www.caitholman.com">www.caitholman.com</a></p>
  </div>
  <div class="span3">
    <div class="social-callout">
      <p><a href="http://twitter.com/chcholman"><span class="twitter"></span>@chcholman</a></p>
      <p><a href="http://github.com/chcholman"><span class="octocat"></span>chcholman</a></p>
    </div>
  </div>
</div>

<br clear="both">

<div class="row" itemscope itemtype="http://schema.org/Person">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/kevin-profile-140.png"  height="140"  width="140"></div>
  <div class="span7">
    <h3 itemprop="name">Kevin Champion</h3>
    <p>Kevin is a freelance web developer who specializes in Drupal. He thinks favicons are important.</p>
    <p><a href="http://www.kevinchampion.com/">www.kevinchampion.com</a></p>
  </div>
  <div class="span3">
    <div class="social-callout">
      <p><a href="http://twitter.com/kevinchampion"><span class="twitter"></span>@kevinchampion</span></a></p>
      <p><a href="http://github.com/kevinchampion"><span class="octocat"></span>kevinchampion</a></p>
    </div>
  </div>
</div>

<br clear="both">

<br>

<h2>Coffee House Coders Alumni</h3>

<br>

<div class="row">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/joanna-profile-140.png" height="140" width="140"></div>
  <div class="span3">
    <h3 itemprop="name">Joanna Price</h3>
    <p><a href="http://www.littlelibrarianthatcould.com/">www.littlelibrarianthatcould.com</a></p>
    <div class="social-callout-alumnus">
      <p><a href="http://twitter.com/joannatovaprice"><span class="twitter"></span>@joannatovaprice</a></p>
    </div>
  </div>
  <div class="span2 offset1"><img class="img-rounded avatar hi-res" src="/images/mulka-profile-140.png" height="140" width="140"></div>
  <div class="span3">
    <h3 itemprop="name">Kyle Mulka</h3>
    <p><a href="http://www.kylemulka.com/">www.kylemulka.com</a></p>
    <div class="social-callout-alumnus">
      <p><a href="http://twitter.com/mulka"><span class="twitter"></span>@mulka</a></p>
      <p><a href="http://github.com/mulka"><span class="octocat"></span>mulka</a></p>
    </div>
  </div>
</div>

<br clear="both">

<div class="row">
  <div class="span2"><img class="img-rounded avatar hi-res" src="/images/zach-profile-140.png"  height="140"  width="140"></div>
  <div class="span3">
    <h3 itemprop="name">Zach Steindler</h3>

    <div class="social-callout-alumnus">
      <p><a href="http://twitter.com/steiza"><span class="twitter"></span>@steiza</a></p>
      <p><a href="http://github.com/steiza"><span class="octocat"></span>steiza</a></p>
    </div>
  </div>
  <div class="span2 offset1"><img class="img-rounded avatar hi-res" src="/images/adam-profile-140.png"  height="140"  width="140"></div>
  <div class="span3">
    <h3 itemprop="name">Adam Goodman</h3>
    <div class="social-callout-alumnus">
      <p><a href="http://twitter.com/akgood"><span class="twitter"></span>@akgood</a></p>
      <p><a href="http://github.com/akgood"><span class="octocat"></span>akgood</a></p>
    </div>
  </div>
</div>

<br clear="both">

<% include ../footer %>
