<% include ../header %>
<h1>Workshops</h1>

<div class="row">
  <div class="span8">
    <h2>Building Client-Side Applications with AngularJS</h2>
    <h3>Taurus Colvin | Thursday, February 21st, 2013</h3>
    <p>An introduction to AngularJS, a Google-maintained, open-source, MVC, Javascript framework aimed at putting the fun back in client-side application development. Topics: views and templates, controllers, models, directives, service dependency injection, and testing. Familiarity with Javascript / Coffeescript helpful.</p>
    <hr>
  </div>
</div>
<div>
  <div class="span2"><img src="/images/taurus-colvin.jpg" width="131px" class="img-rounded avatar"></div>
  <div class="span6"><a href="http://twitter.com/tauruscolvin">Taurus Colvin</a> is a front-end developer for Silicon Valley-based <a href="http://www.caring.com">Caring.com</a>, the web's premier source for information on Senior Living. Rubyist and client-side framework enthusiast.</div>
</div>

<% include ../footer %>
