h1 About Coffee House Coders

p Coffee House Coders is a biweekly meetup that takes place in Space 2435 of the University of Michigan's North Quad building.

p We are a language-agnostic coding group; everyone is welcome, no matter your skill level.
