<% include header %>
<h1>Welcome to Coffee House Coders</h1>

<h2>Locations</h2>

<p><a href="http://annarbor.<%= domain %>">Ann Arbor, Michigan</a></p>

<p><a href="http://detroit.<%= domain %>">Detroit, Michigan</a></p>

<p><a href="http://downriver.<%= domain %>">Downriver, Michigan</a></p>

<p><a href="http://royaloak.<%= domain %>">Royal Oak, Michigan</a></p>

<% include footer %>
