!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/retina.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href='/') A2 Coffee House Coders
          ul.nav.nav-pills
            li
              a(href='/') Home
            li
              a(href='/about') About CHC
            li
              a(href='/about/organizers') About the Organizers
            li
              a(href='/discussions') Discussions
    .container
      block content
    script(type='text/javascript', src='/javascripts/analytics.js')
