extends layout

block content
  h1 About the Organizers

  .row
    .span2
      img.img-rounded(src="/images/cory-profile-140.png", height="140", width="140")
    .span10
      h3 Cory Kaufman-Schofield
      p= 'Cory is a developer at '
        a(href="http://www.alfajango.com") AlfaJango
        = ' in the '
        a(href="http://www.techbrewery.org") TechBrewery
        . He's also got a few side projects that take up way less of his time than he would like.
      p Twitter:&nbsp;
        a(href="http://twitter.com/allspiritseve") @allspiritseve
      p Github:&nbsp;
        a(href="http://github.com/allspiritseve") http://github.com/allspiritseve
  br(clear="both")
  .row
    .span2
    .span10
      h3 Cait Holman

  .row
    .span2
      img.img-rounded.hi-res(src="/images/kevin-profile-140.png", height="140", width="140")
    .span10
      h3 Kevin Champion
      p Kevin is a freelance web developer who specializes in Drupal. He thinks favicons are important.
      p a(href="http://twitter.com/kevinchampion") @kevinchampion
  br(clear="both")

  h2 Coffee House Coders Alumni

  h3 Joanna Price

  h3 Kyle Mulka

  h3 Zach Steindler

  h3 Adam Goodman

