extends layout

block content
  h1 About the Organizers

  .row(itemscope="itemscope", itemtype="http://schema.org/Person")
    .span2
      img.img-rounded.avatar(src="/images/cory-profile-140.png", height="140", width="140")
    .span7
      h3(itemprop="name") Cory Kaufman-Schofield
      p
        = 'Cory is a developer at '
        span(itemprop="affiliation", itemscope="itemscope", itemtype="http://schema.org/LocalBusiness")
          a(href="http://www.alfajango.com", itemprop="url")
            span(itemprop="name") AlfaJango
          = ' in the '
          a(href="http://www.techbrewery.org", itemprop="location") TechBrewery
        | . He's also got a few side projects that take up way less of his time than he would like.
      p
        a(href="http://corykaufman.com/") corykaufman.com
    .span3
      div.social-callout
        p
          a(href="http://twitter.com/allspiritseve")
            span.twitter
            @allspiritseve
        p
          a(href="http://github.com/allspiritseve")
            span.octocat
            = "allspiritseve"
  br(clear="both")
  .row(itemscope="itemscope", itemtype="http://schema.org/Person")
    .span2
      img.img-rounded.avatar.hi-res(src="/images/cait-profile-140.png", height="140", width="140")
    .span7
      h3(itemprop="name") Cait Holman
      p= 'Cait is a PhD student at the University of Michigan School of Information, and the project manager at '
        span(itemprop="affiliation", itemscope="itemscope", itemtype="http://schema.org/LocalBusiness")
          a(href="http://www.alfajango.com/", itemprop="url")
            span(itemprop="name") AlfaJango
        .
      p
        a(href="http://www.caitholman.com/") www.caitholman.com
    .span3
      div.social-callout
        p
          a(href="http://twitter.com/chcholman")
            span.twitter
            @chcholman
        p
          a(href="http://github.com/chcholman")
            span.octocat
            = "chcholman"

  br(clear="both")
  .row(itemscope="itemscope", itemtype="http://schema.org/Person")
    .span2
      img.img-rounded.avatar.hi-res(src="/images/kevin-profile-140.png", height="140", width="140")
    .span7
      h3(itemprop="name") Kevin Champion
      p Kevin is a freelance web developer who specializes in Drupal. He thinks favicons are important.
      p
        a(href="http://www.kevinchampion.com/") www.kevinchampion.com
    .span3
      div.social-callout
        p
          a(href="http://twitter.com/kevinchampion")
            span.twitter
            @kevinchampion
        p
          a(href="http://github.com/kevinchampion")
            span.octocat
            = "kevinchampion"
  br(clear="both")

  br

  h2 Coffee House Coders Alumni

  br

  .row
    .span2
      img.img-rounded.avatar.hi-res(src="/images/joanna-profile-140.png", height="140", width="140")
    .span3
      h3(itemprop="name") Joanna Price
      p
        a(href="http://www.littlelibrarianthatcould.com/") www.littlelibrarianthatcould.com
      div.social-callout-alumnus
        p
          a(href="http://twitter.com/joannatovaprice")
            span.twitter
            @joannatovaprice
    .span2.offset1
      img.img-rounded.avatar.hi-res(src="/images/mulka-profile-140.png", height="140", width="140")
    .span3
      h3(itemprop="name") Kyle Mulka
      p
        a(href="http://www.kylemulka.com/") www.kylemulka.com
      div.social-callout-alumnus
        p
          a(href="http://twitter.com/mulka")
            span.twitter
            @mulka
        p
          a(href="http://github.com/mulka")
            span.octocat
            = "mulka"
  br(clear="both")

  .row
    .span2
      img.img-rounded.avatar(src="/images/zach-profile-87.png", height="87", width="87")
    .span3
      h3(itemprop="name") Zach Steindler

      div.social-callout-alumnus
        p
          a(href="http://twitter.com/steiza")
            span.twitter
            @steiza
        p
          a(href="http://github.com/steiza")
            span.octocat
            = "steiza"
    .span2.offset1
      img.img-rounded.avatar(src="/images/adam-profile-50.png", height="50", width="50")
    .span3
      h3(itemprop="name") Adam Goodman

      div.social-callout-alumnus
        p
          a(href="http://twitter.com/akgood")
            span.twitter
            @akgood
        p
          a(href="http://github.com/akgood")
            span.octocat
            = "akgood"
  br(clear="both")
